.controller.fight-stick {
    background: url(http://www.zak123.com/u/base.png) center no-repeat;
    background-position: 247px 55px;
}

.fight-stick .arrows {
	display: none;
}

.fight-stick .quadrant{
	display: none;
}
.fight-stick .bumper.left{
	display: none;
}
.fight-stick .trigger-button.left{
	display: none;
}
/* Stolen from http://www.zak123.com/u/3buttons.css */
/* Here comes my things */
.a {
  background-color:pink;
}
.x {
  background-color:blue;
}
.y {
  background-color:green;
}
 .trigger-button.right {
  background-color: orange;
 }
  .bumper.right {
  background-color: red;
 }

//.bumper
